<!DOCTYPE html>
<html>
<head>
<title>File Analyzer</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
<h2>Computer File Analyzer</h2>
<button onclick="scan()">Scan My Computer</button>
<div id="scanResult"></div>
<hr>
<input id="keyword" placeholder="Enter Name or Keyword">
<button onclick="search()">Check Name in Files</button>
<div id="searchResult"></div>
</div>

<script>
function scan(){
 document.getElementById("scanResult").innerHTML="Scanning...";
 fetch("/scan",{method:"POST"}).then(r=>r.json()).then(d=>{
 let h="<table><tr><th>Drive</th><th>Total</th><th>PDF</th><th>Word</th><th>Excel</th><th>Images</th></tr>";
 for(let k in d){
 h+=`<tr><td>${k}</td><td>${d[k].total}</td><td>${d[k].pdf}</td>
 <td>${d[k].word}</td><td>${d[k].excel}</td><td>${d[k].image}</td></tr>`;
 }
 h+="</table>"; document.getElementById("scanResult").innerHTML=h;
 })
}

function search(){
 let f=new FormData();
 f.append("name",document.getElementById("keyword").value);
 fetch("/search",{method:"POST",body:f}).then(r=>r.json()).then(d=>{
 document.getElementById("searchResult").innerHTML=
 `The name "<b>${d.keyword}</b>" appeared <b>${d.count}</b> times`;
 })
}
</script>
</body>
</html>
